<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:r="http://typo3.org/ns/Codemonkey1988/ResponsiveImages/ViewHelpers">
<f:for each="{config.allSourceConfig}" as="source">
    <f:render section="source" arguments="{source: source, file:file, options:options, layoutKey:config.layoutKey}" />
</f:for>

<f:section name="source">
    <f:switch expression="{layoutKey}">
        <f:case value="data-srcset">
            <source {f:if(condition: '{source.media}', then: 'media="{source.media}"')} data-srcset="{f:render(section:'srcset',arguments:_all)}" />
        </f:case>
        <f:case value="srcset">
            <source {f:if(condition: '{source.media}', then: 'media="{source.media}"')} srcset="{f:render(section:'srcset',arguments:_all)}" />
        </f:case>
        <f:defaultCase>
            <source {f:if(condition: '{source.media}', then: 'media="{source.media}"')} srcset="{f:render(section:'srcset',arguments:_all)}" />
        </f:defaultCase>
    </f:switch>
</f:section>

<f:section name="srcset">
<f:for each="{source.srcset}" key="density" as="srcset" iteration="i">{f:render(section:'src',arguments:_all)} {density}{f:if(condition:'!{i.isLast}',then:',')}</f:for>
</f:section>

<f:section name="src">
{r:uri.image(image:file,width:srcset.width,height:srcset.height,cropVariant:source.croppingVariantKey,quality:srcset.quality,greyscale:options.grayscale)}
</f:section>
</html>